# Ignorar arquivos sensíveis e de ambiente
.env
Boxer/.env
# Ignorar arquivos de cache e banco
__pycache__/
*.pkl
# Ignorar arquivos do sistema
*.log
*.sqlite3
# Ignorar arquivos temporários
*.tmp
*.bak
# Ignorar diretórios do VSCode
.vscode/
app/_pycache__/
app/Boxer/_pycache__/
app/Boxer/Boxer01/_pycache__/
app/Meia/_pycache__/
app/Meia/Meia01/_pycache__/